<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>walletera</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <div class="container">
        <h1>An error as occured.</h1>
        <h1> <span class="ascii">(╯°□°）╯︵ ┻━┻</span></h1>
        <a href="#">Go back</a>
    </div>
</body>
</html>
