@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="container">
    <h1>An error as occured.</h1>
    <h1> <span class="ascii">(╯°□°）╯︵ ┻━┻</span></h1>
    <a href="#">Go back</a>
</div>
