@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" >
    <div class="col first">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/images/walletera.png" />
        </a>
        <br /> <br />
        <span>
            <a asp-controller="Home" asp-action="Login">Login</a>
            <br />
            <a asp-controller="Home" asp-action="Register">Register</a>
        </span>
        <span>
            <label>
                Transfer<br />is Safe.
            </label>
        </span>
        <span id="payment-logo">
            <img src="~/images/MasterCard.png" />
            <img src="~/images/Visa.png" />
            <img src="~/images/Other-Pay-Method.png" />
            <img src="~/images/Other-Pay-Method-1.png" />
        </span>
    </div>
    <div class="col second">
        <img src="~/images/star-small.png" />
    </div>
</div>