* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  color: #0f0f0f;
}

section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: url("../images/trust-bg.webp");
}

section .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #db1c51;
  transition: 0.5s;
  background: url("../images/pink-chair.svg");
}

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .imgBox {
  position: relative;
  width: 50%;
  height: 100%;
  background: #db1c51;
  transition: 0.5s;
  background: url("../images/blue-dog.svg");
}

section .container .user .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 0px;
  transition: 0.5s;
  display: inline;
}

section .container .user .formBx form h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0f0f0f;
}

section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container .user .formBx form input[type="submit"] {
  max-width: 100px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  transition: 0.5s;
}

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 15px;
  color: #555;
  text-transform: lowercase;
  font-weight: 700;
}

section .container .user .formBx form .login {
  position: relative;
  margin-top: 20px;
  font-size: 15px;
  color: #555;
  text-transform: lowercase;
  font-weight: 700;
}

section .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #db1c51;
}

section .container .user .formBx form .login a {
  font-weight: 600;
  text-decoration: none;
  color: #3e0ba7;
}

section .container .signupBx {
  pointer-events: none;
}

section .container.active .signupBx {
  pointer-events: initial;
}

section .container .signupBx .formBx {
  left: 100%;
}

section .container.active .signupBx .formBx {
  left: 0;
}

section .container .signupBx .imgBx {
  left: -100%;
}

section .container.active .signupBx .imgBx {
  left: 0%;
}

section .container .signupBx .imgBox {
  left: -100%;
}

section .container.active .signupBx .imgBox {
  left: 0%;
}

section .container .signinBx .formBx {
  left: 0%;
}

section .container.active .signinBx .formBx {
  left: 100%;
}

section .container .signinBx .imgBx {
  left: 0%;
}

section .container.active .signinBx .imgBx {
  left: -100%;
}

section .container .signinBx .imgBox {
  left: 0%;
}

section .container.active .signinBx .imgBox {
  left: -100%;
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .imgBox {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }
}

label {
  font-size: 12px;
  font-weight: 600;
  color: #0f0f0f;
  text-transform: lowercase;
}
