
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    font-family: 'Krona One', sans-serif;
    /*color: #fff;*/
    overflow: hidden;
}

.row {
    height: 100%;
}

.first {
    margin: 30px 0 0 100px;
}

.second {
    margin-top: 25px;
    transform: scale(0.8);
}


a {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
}

.login {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(147.75deg, #FC85AE -15.94%, #9E579D 22.51%, #574B90 69.94%, #303A52 116.51%);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.register-text {
    width: 144px;
    height: 50px;
    left: 230px;
    top: 268px;
    font-style: normal;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    color: #FFFFFF;
}

label {
    width: 150px;
    height: 25px;
    left: 143px;
    top: 413px;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
}

input {
    width: fit-content;
    height: 48px;
    left: 129px;
    top: 442px;
    background: #EDEFF2;
    border-radius: 12px;
    font-family: Arial;
    padding: 0 10px 0 10px;
}

.submit {
    width: 141px;
    height: 44px;
    left: 129px;
    top: 668px;
    background: linear-gradient(144.85deg, #03002C -25.7%, #BB0029 38.5%, #F5841A 82.33%, #F2E8C6 130.1%);
    border-radius: 20px;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 25px;
    color: #fff;
    font-family: 'Krona One', sans-serif;
}

*:focus {
    outline: none;
}

form {
    padding: 30px;
}

.password-container {
    width: fit-content;
    position: relative;
}

    .password-container input[type="password"],
    .password-container input[type="text"] {
        width: fit-content;
        padding: 12px 36px 12px 12px;
        box-sizing: border-box;
    }

.fa-eye {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}