@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    font-family: 'Krona One', sans-serif;
    /*background: #03002C no-repeat center;*/
    overflow: hidden;
}

.row {
    height: 100%;
}

.first {
    margin: 30px 0 0 100px;
}

.second {
    transform: scale(1.5);
}

label {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    display: flex;
    align-items: center;
    letter-spacing: 1.06383px;
    color: #FFFFFF;
    margin-top: 250px;
}

a {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
}

#payment-logo {
    justify-content: space-evenly;
}

