
@{
    ViewData["Title"] = "LoginHome";
    Layout = "~/Views/Shared/_LoginHome.cshtml";
}

<div class="row">
    <div class="col d-flex justify-content-center">
        <table>
            <tr>
                <td>
                    <img src="~/images/user.png" />
                </td>
                <td>
                    Hello, <br /> Pranjal Shikhar
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/amount.png" />
                </td>
                <td>
                    ₹ 78922.00
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/points.png" />
                </td>
                <td>
                    0 Reward Points
                </td>
            </tr>
        </table>
    </div>
    <div class="col d-flex justify-content-center">
        <table>
            <tr>
                <td>
                    <img src="~/images/password.png" />
                </td>
                <td>
                    Change Password
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/logout.png" />
                </td>
                <td>
                    Logout
                </td>
            </tr>
        </table>
    </div>
</div>

<hr style="width: 853.02px; height: 0px; left: 295px; top: 580px; border: 1px solid #FFFFFF;" />

<div class="d-flex justify-content-center">
    <div class="p-2 text-center">
        <img src="~/images/load-wallet-plain.png" />
        <div>Load Wallet</div>
    </div>
    <div class="p-2 text-center">
        <img src="~/images/transfer-wallet-plain.png" />
        <div>Transfer to Wallet</div>
    </div>
    <div class="p-2 text-center">
        <img src="~/images/pay-bills-plain.png" />
        <div>Pay Bills</div>
    </div>
    <div class="p-2 text-center">
        <img src="~/images/transfer-bank-plain.png" />
        <div>Transfer to Bank</div>
    </div>
    <div class="p-2 text-center">
        <img src="~/images/transaction-plain.png" />
        <div>View transactions</div>
    </div>
    <div class="p-2 text-center">
        <img src="~/images/points-plain.png" />
        <div>Redeem Points</div>
    </div>
</div>