
@{
    ViewData["Title"] = "LoginHome";
    Layout = "~/Views/Shared/_LoginHome.cshtml";
}


<div class="nav">
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li>
            <img src="~/images/password.png" />
            <a href="#" >change password</a>
        </li>
        <li>
            <img src="~/images/logout.png" />
            <a asp-controller="Home" asp-action="Login">logout</a>
        </li>
    </ul>
</div>

<div class="about">
    <div class="list">
        <img src="~/images/user.png" />
        <h2>pranjal shikhar.</h2>
    </div>
    <div class="list">
        <img src="~/images/amount.png" />
        <h2>78000.00</h2>
    </div>
    <div class="list">
        <img src="~/images/points.png" />
        <h2>0 points redeem.</h2>
    </div>
</div>

<div>
    <hr />
</div>
















<script>
    const hamburger = document.querySelector(".hamburger");
    const navLinks = document.querySelector(".nav-links");
    const links = document.querySelectorAll(".nav-links li");

    hamburger.addEventListener('click', () => {
        //Animate Links
        navLinks.classList.toggle("open");
        links.forEach(link => {
            link.classList.toggle("fade");
        });

        //Hamburger Animation
        hamburger.classList.toggle("toggle");
    });
</script>